@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "~bootstrap/scss/bootstrap";

* {
    font-family: 'Roboto', sans-serif;
}
.alert {
    padding: 10px;
    color: white;
    text-align: center; 
    border: none;
    border-radius: 0;
    margin: 0;
}
.alert-succes {
    padding: 10px;
    background-color: green;
}
.alert-error {
    background-color: red;
}
.alert-info {
    background-color: blue;
}
.vich-image {
    .form-check {
        @extend .mt-2
    }
    .vich-image img {
        @extend .mb-2;
     @extend .rounded;
     @extend .shadow;
     @extend .img-thumbnail;  
    } 
}
.paysage img {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.15);
    }
}