{%extends 'base.html.twig' %}
{% block title 'New Paysage' %}
{% block body %}
<h1> Add your paysage </h1>
{{ form_start(monFormulaire)}}
{{ form_widget(monFormulaire)}}
<input type="submit" value="Add paysage" formnovalidate>
{{ form_end(monFormulaire)}}
{% endblock %}