{% extends 'Layout/base.html.twig' %}

{% block title 'Edit Landscape #' ~ paysage.id %}

{% block body %}
<div class="row">
    <div class="col-md-7 mx-auto">
        <h1> Edit Landscape # {{paysage.id }}</h1>
        {{ include('pins/form.html.twig', {submitButton: 'Edit'})}}
    </div>
</div>
{% endblock %}
