{% extends 'base.html.twig' %}

{% block title 'Edit Landscape #' ~ paysage.id %}

{% block body %}
    <article>
        <h1> Edit Landscape # {{paysage.id }}</h1>
    </article>

{{ form_start(monFormulaire)}}
{{ form_widget(monFormulaire)}}
<input type="submit" value="Update Landscape" formnovalidate>
{{ form_end(monFormulaire)}}
{% endblock %}
