{% extends 'Layout/base.html.twig' %}

{% block title 'Edit Landscape #' ~ paysage.id %}

{% block body %}
    <article>
        <h1> Edit Landscape # {{paysage.id }}</h1>
    </article>

{{ include('pins/form.html.twig', {submitButton: 'Edit'})}}
{% endblock %}
