{% extends 'base.html.twig' %}

{% block title 'Les plus beaux paysages'%}

{% block body %}
    <h1> Tous les paysages : {{ pluralize(paysages|length, 'Paysage', 'Paysages') }}  </h1>

    {% for paysage in paysages %}
        <article>
            <h2><a href="{{ path('paysages_app', {id: paysage.id}) }}"> {{paysage.titre}}</a></h2>
            <p> {{paysage.description}}</p>
        </article>
    {% endfor %}
{% endblock %}
