{% extends 'base.html.twig' %}

{% block title paysage.titre %}

{% block body %}
    <article>
        <h1> {{ paysage.titre }} </h1>
        <h1> {{ paysage.description }} </h1>
    </article>

    <a href="{{ path('edit_app', {id: paysage.id}) }}">Edit</a>
   <a href="{{ path('app_home') }}">Go Back</a>
{% endblock %}
