<footer class="container text-center mt-5">
    <p class="text-muted">
            &copy; {{'now'|date('Y') }}&middot;
            Built with <span class="text-danger">&hearts;</span> by U<span class="text-warning font-weight-bold">⚜</span>
    </p>
</footer>