<footer class="container text-center mt-5">
    <p class="text-muted">
            &copy; {{'now'|date('Y') }}&middot;
            Built to learn by yadan_u and cubau_j
             {# U<span class="text-warning font-weight-bold">⚜</span> #}
    </p>
</footer>